    html {
        font-size: 15px;
    }
    
    body {
        margin: 0;
    }
    
    .navigation {
        list-style: none;
        background-color: none;
        margin: 0 auto;
        padding: 0;
        width: 60%;
    }
    
    .navigation-items {
        display: inline-block;
        width: 24%;
        text-align: center;
    }
    
    .navigation-items a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #26a68d;
        width: 100%;
        display: inline-block;
        padding: 1rem 0;
        font-size: 1.5rem;
    }
    
    .bg img {
        width: 100%;
    }
    
    .container {
        background-color: #f5f6f7;
        text-align: center;
        padding: 1rem 10%;
    }
    
    .title {
        font-size: 1.1rem;
        color: #373737;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .content {
        color: #373737;
        font-size: .8rem;
        font-weight: bold;
    }
    
    .btn a {
        background-color: #16a085;
        color: white;
        border-radius: 5px;
        font-size: .8rem;
        width: 192px;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem;
        font-weight: 700;
    }
    
    .footer {
        text-align: right;
        color: #373737;
        padding: 3rem 1rem;
    }